{{#each track}}
<figure>
    <figcaption>Listen to {{name}}:</figcaption>
        {{#if preview_url}}
            <audio controls src="{{preview_url}}"></audio>
        {{else}}
        <p style="color:red">There's no preview for this song, sorry!</p>
        {{/if}}
</figure>
{{/each}}